<% if is_mobile_view? %>
  <table class="profile" summary="For signed-in users">
    <tr>
      <td class="main">
  <% else %>
  <table class="shadowborder">
    <tr>
      <td class="test">
  <% end %>

<% if is_mobile_view? %>
<h4><span style="color:orangered; font-size: 150%;">Stumweb</span><span style="color:mediumblue; font-size: 115%;">: the front page of New York City!</span></h4>

<br>
<% else %>
<h3 style="margin-left: 15px; width: 500px;"><span class="textshadow1" style="color:orangered; font-size: 120%;">Stumweb</span><span class="textshadow2" style="color:mediumblue; font-size: 95%;">: the front page of New York City!</span></h3>
<% end %>
      
      <% if is_mobile_view? %>
      <table class="microposts" summary="User microposts">
      <% else %>
      <table class="microposts" summary="User microposts" style="margin-left: 15px; width: 500px">
      <% end %>  

<tr>
  <td class="micropost" style="border: 2px solid; border-left:none; border-right:none;">
    <span class="content"><b><%= wrap(@content.content) %></b></span>
    <br> 
    <br>

    <iframe src="http://www.facebook.com/plugins/like.php?app_id=212715052108961&amp;href=PAGEURL;send=false&amp;layout=button_count&amp;width=50&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:21px;" allowTransparency="true"></iframe>
    <a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true" data-count="none" data-via="twitterapi">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <% if is_mobile_view? %>
    <span class="timestamp" style="width: 125%;">
          Posted <%= time_ago_in_words(@content.created_at) %> ago by <%= link_to @content.user.username, @content.user %> <br>
      <%= pluralize(@content.likes.count, "Like") %> &#160; <%= pluralize(@content.dislikes.count, "Dislike") %> &#160; <%= pluralize(@content.impressionist_count, "Views") %>
      &#160;
  </span>
    <% else %>
    <span class="timestamp">
      <%= pluralize(@content.likes.count, "Like") %> &#160; <%= pluralize(@content.dislikes.count, "Dislike") %> &#160;&#160;&#160;&#160;&#160; Posted <%= time_ago_in_words(@content.created_at) %> ago by <%= link_to @content.user.username, @content.user %> &#160;&#160;&#160;&#160;&#160; <%= pluralize(@content.impressionist_count, "Views") %>
    </span>
  <% end %>

      <% content = Content.find(params[:id]) %>
      <% if signed_in? %>
      &#160; <%= link_to "Viral", like_content_path(content), :class => "btn-customlike" %> &#160; 
      <%= link_to "Lame", dislike_content_path(content), :class => "btn-customdislike" %>
      <% else %>
      &#160; <%= link_to "Viral", signup_path, :class => "btn-customlike" %> &#160; 
      <%= link_to "Lame", signup_path, :class => "btn-customdislike" %>
      <% end %>
      &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
      <% user = @content.user rescue User.find(@content.user_id) %>
      <% if current_user?(user) %>
      <%= link_to "Delete", @content, :class => "btn-customdislike", :method => :delete,
                                       :confirm => "Are you sure you want to delete this post?",
                                       :title => @content.content %>   
  <% end %> &#160;&#160;&#160;&#160;&#160;    
  <% if signed_in? %>
      <% if current_user.admin? %>
       <%= link_to "Admin Delete", @content, :class => "btn-customdislike", :method => :delete, :confirm => "You sure?" %>
      <% end %>
    <% end %>
</td>
</br>
</br>

    <table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      

    <% if is_mobile_view? %>
    <div style="margin-left: -20px;">
    <% else %>
    <div>   
    <% end %>
        <% if @content.comments.any? %>
        <h5 style="color:blue;">Top Comments</h5>
  <% @topcomments.each do |comment| %>

    <% if (comment.dislikes.count - comment.likes.count) > 2 %>

    <table class="microposts" summary="User microposts">

<tr>
  <td class="micropost">

  <% if is_mobile_view? %>
  <span class="content" style="width: 125%;"><% if comment.user == @content.user %><b style="color:blue;"><i>This comment is hidden due to too many dislikes.</i></b> <% else %> <b style="color:darkblue;"><i>This comment is hidden due to too many dislikes.</i></b> <% end %></span>
<br>
  <span class="timestamp" style="width: 130%;">
      Posted <%= time_ago_in_words(comment.created_at) %> ago by <%= link_to comment.user.username, comment.user %> <br> <%= pluralize(comment.likes.count, "Like") %> &#160; <%= pluralize(comment.dislikes.count, "Dislike") %>  
<br>  
  <% else %>
  <span class="content"><% if comment.user == @content.user %><b style="color:blue;"><i>This comment is hidden due to too many dislikes.</i></b> <% else %> <b style="color:darkblue;"><i>This comment is hidden due to too many dislikes.</i></b> <% end %></span>
<br>
  <span class="timestamp">
      <%= pluralize(comment.likes.count, "Like") %> &#160; <%= pluralize(comment.dislikes.count, "Dislike") %> &#160;&#160;&#160;&#160;&#160; Posted <%= time_ago_in_words(comment.created_at) %> ago by <%= link_to comment.user.username, comment.user %>
<br>
  <% end %>

  <div class="dropdown">
    <a class="btn-custom3" class="dropdown-toggle" data-toggle="dropdown" href="#">Show</a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

      <table class="microposts" summary="User microposts">

<tr>
  <td class="micropost">

          <span class="content"><% if comment.user == @content.user %><b style="color:firebrick;"><%= wrap(comment.body) %></b> <% else %> <b style="color:firebrick;"><%= wrap(comment.body) %></b><% end %></span>
        </br>
        </br>
      <div class="bs-docs-example">
      <ul class="nav nav-pills">
    <% if signed_in? %>
    <li><%= link_to "Like", like_comment_path(comment) %></li>
    <li><%= link_to "Dislike", dislike_comment_path(comment) %></li>
    <% else %>
    <li><%= link_to "Like", signup_path %></li>
    <li><%= link_to "Dislike", signup_path %></li>
    <% end %>
      <% if current_user?(comment.user) %>
     <li><%= link_to "Delete", polymorphic_url([@content, comment]), :class => "btn-customdislike", :method => :delete,
                                       :confirm => "Are you sure you want to delete this comment?" %></li> 
  <% end %>
  <% if signed_in? %>
    <% if current_user.admin? %>
       <li><%= link_to "Admin Delete", polymorphic_url([@content, comment]), :class => "btn-customdislike", :method => :delete, :confirm => "You sure?" %></li>
      <% end %>
      <% end %>
    </ul>
  </div>

        </td>
  </tr>

</table>  

</ul>
</div>
  </span>

  </td>
  </tr>

</table>   

    <% else %>

<table class="microposts" summary="User microposts">

<tr>
  <td class="micropost">

    <% if is_mobile_view? %>
    <span class="content" style="width: 125%;"><% if comment.user == @content.user %><b style="color:blue;"><%= wrap(comment.body) %></b> <% else %> <b><%= wrap(comment.body) %></b><% end %></span>
    <br> 
    <span class="timestamp" style="width: 130%;">
      Posted <%= time_ago_in_words(comment.created_at) %> ago by <%= link_to comment.user.username, comment.user %> <br> <%= pluralize(comment.likes.count, "Like") %> &#160; <%= pluralize(comment.dislikes.count, "Dislike") %> 
    <br>
    <% if signed_in? %>
    &#160; <%= link_to "Like", like_comment_path(comment) %> &#160;&#160;
    <%= link_to "Dislike", dislike_comment_path(comment) %> &#160;&#160;
    <% else %>
    &#160; <%= link_to "Like", signup_path %> &#160;&#160;
    <%= link_to "Dislike", signup_path %> &#160;&#160;
    <% end %>
      <% if current_user?(comment.user) %>
     <%= link_to "Delete", polymorphic_url([@content, comment]), :class => "btn-customdislike", :method => :delete,
                                       :confirm => "Are you sure you want to delete this comment?" %> 
  <% end %>
  <% if signed_in? %>
    <% if current_user.admin? %>
       <%= link_to "Admin Delete", polymorphic_url([@content, comment]), :class => "btn-customdislike", :method => :delete, :confirm => "You sure?" %>
      <% end %>
      <% end %>
    </span>
    <% else %>
    <span class="content"><% if comment.user == @content.user %><b style="color:blue;"><%= wrap(comment.body) %></b> <% else %> <b><%= wrap(comment.body) %></b><% end %></span>
    <br> 
    <span class="timestamp">
      <%= pluralize(comment.likes.count, "Like") %> &#160; <%= pluralize(comment.dislikes.count, "Dislike") %> &#160;&#160;&#160;&#160;&#160; Posted <%= time_ago_in_words(comment.created_at) %> ago by <%= link_to comment.user.username, comment.user %> 
    <br>
    <% if signed_in? %>
    &#160; <%= link_to "Like", like_comment_path(comment) %> &#160;&#160;
    <%= link_to "Dislike", dislike_comment_path(comment) %> &#160;&#160;
    <% else %>
    &#160; <%= link_to "Like", signup_path %> &#160;&#160;
    <%= link_to "Dislike", signup_path %> &#160;&#160;
    <% end %>
      <% if current_user?(comment.user) %>
     <%= link_to "Delete", polymorphic_url([@content, comment]), :class => "btn-customdislike", :method => :delete,
                                       :confirm => "Are you sure you want to delete this comment?" %> 
  <% end %>
  <% if signed_in? %>
    <% if current_user.admin? %>
       <%= link_to "Admin Delete", polymorphic_url([@content, comment]), :class => "btn-customdislike", :method => :delete, :confirm => "You sure?" %>
      <% end %>
      <% end %>
    </span>
    <% end %>
  </td>


  </tr>

</table>   

<% end %>

<% end %>
<br>

<%# the nav-tabs border is commented out in line 3016 in the application.css file %>
      <ul class="nav nav-tabs">
<% if signed_in? %>
      <li>
        <%= form_for [@content, current_user.comments.new] do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
      <% if is_mobile_view? %>
    <%= f.text_area :body, :style => "width: 105%", :placeholder => "Reply" %>
      <% else %>
    <%= f.text_area :body, :style => "width: 475px", :placeholder => "Reply" %>
      <% end %>
    </div>
    <div class="actions">
    <%= f.submit "Submit", :class => 'btn btn-success' %>
    </div>
    <% end %>
  </li>
  <% else %>
  <li><%= link_to "Reply", signup_path, :class => "btn-custom3" %></li>
<% end %>
</ul>

<h5 style="color:blue;">All Comments</h5>
<% if is_mobile_view? %>
<div id="pages">
          <%= render 'comments' %>
</div>
        <%= will_paginate @comments, :page_links => false %>
<% else %>
<div id="pages">
          <%= render 'comments' %>
</div>
        <%= will_paginate @comments, :page_links => false %>
<% end %>
      <% end %>

</div>
          </td>
      </tr>
</table>

<%# the nav-tabs border is commented out in line 3016 in the application.css file %>
      <ul class="nav nav-tabs">
<% if signed_in? %>
      <li>
     <div class="dropdown">
    <a class="btn-custom3" class="dropdown-toggle" data-toggle="dropdown" href="#">Reply</a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <%= form_for [@content, current_user.comments.new] do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
    <%= f.text_area :body %>
    </div>
    <div class="actions">
    <%= f.submit "Submit", :class => 'btn btn-success' %>
    </div>
    <% end %>
    </ul>
    </div>
  </li>
    <% else %>
  <li><%= link_to "Reply", signup_path, :class => "btn-custom3", :style => "margin-left: 15px" %></li>
<% end %>
</ul>

  </td>
    <% if is_mobile_view? %>
      <% else %>

    <% if signed_in? %>
      <td class="sidebar2 round">
        <%= render 'shared/user_info' %>
      </td>

    <% else %>
      <td class="sidebar2 round">
        <%= render 'shared/user_info_signedout' %>
      </td>
    <% end %>

  <% end %>
</tr>
</table>

    </td>
    
  </tr>
</table>