<% @likes.each do |content| %>

<% if content.instance_of?(Content) %>

<table class="microposts" summary="User microposts" style="width: 500px">

<tr>
  <td class="micropost">
    <span class="content"><b><%= raw(truncate(wrap(content.content.to_s), :length => 421, :separator => ' ', :omission => (link_to "... (more)", content))) %></b></span>
    </br> 
    </br>
    <span class="timestamp">
      <%= pluralize(content.likes.count, "Like") %> &#160; <%= pluralize(content.dislikes.count, "Dislike") %> &#160;&#160;&#160;&#160;&#160; Posted <%= time_ago_in_words(content.created_at) %> ago by <%= link_to content.user.username, content.user %> &#160;&#160;&#160;&#160;&#160; <%= pluralize(content.impressionist_count, "Views") %>
    </span>

            <div class="bs-docs-example">
            <ul class="nav nav-pills">
              <% if signed_in? %>
                <li><%= link_to "Viral", like_content_path(content), :class => "btn-customlike" %></li>
                <li><%= link_to "Lame", dislike_content_path(content), :class => "btn-customdislike" %></li> 
              <% else %>
              <li><%= link_to "Viral", signup_path, :class => "btn-customlike" %></li>
              <li><%= link_to "Lame", signup_path, :class => "btn-customdislike" %></li> 
              <% end %>
              <li><%= link_to pluralize(content.comments.count, "Comment"), content, :class => "btn-custom3" %></li>
                <% if signed_in? %>
              <li class="dropdown">
                <a class="btn-custom3" class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">Reply</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <%= form_for [content, current_user.comments.new] do |f| %>
                    <%= render 'shared/error_messages', :object => f.object %>
                      <div class="field">
                      <%= f.text_area :body %>
                      </div>
                      <div class="actions">
                      <%= f.submit "Submit" %>
                      </div>
                    <% end %>
                </ul>
              </li>
                <% else %>
                  <li><%= link_to "Reply", signin_path, :class => "btn-custom3" %></li>
                <% end %>
              <li><% user = content.user rescue User.find(content.user_id) %>
                <% if current_user?(user) %>
                <%= link_to "Delete", content, :class => "btn-customdislike", :method => :delete,
                                                 :confirm => "Are you sure you want to delete this post?" %>
                <% end %></li>
            </ul> <!-- /tabs -->
          </div> 
 
</td>
</tr>

</table>

<% elsif content.instance_of?(Photo) %>

<table class="microposts" summary="User microposts">

<tr>
  <td class="micropost">
    <% if content.captions.any? %>
    <% content.captions.each do |caption| %>
    <span class="content"><b><%= raw(truncate(wrap(caption.body), :length => 421, :separator => ' ', :omission => (link_to "... (more)", content))) %></b></span>
    <% end %>
    </br>
    </br>
    <% end %>
    <span class="content"><%= cl_image_tag(content.image_url.to_s, :width => 500, :height => 150, :crop => :fill) if content.image? %></span>
    </br> 
    </br>
    <span class="timestamp">
      <%= pluralize(content.likes.count, "Like") %> &#160; <%= pluralize(content.dislikes.count, "Dislike") %> &#160;&#160;&#160;&#160;&#160; Posted <%= time_ago_in_words(content.created_at) %> ago by <%= link_to content.user.username, content.user %> &#160;&#160;&#160;&#160;&#160; <%= pluralize(content.impressionist_count, "Views") %>
    </span>

            <div class="bs-docs-example">
            <ul class="nav nav-pills">
              <% if signed_in? %>
                <li><%= link_to "Viral", like_content_path(content), :class => "btn-customlike" %></li>
                <li><%= link_to "Lame", dislike_content_path(content), :class => "btn-customdislike" %></li>
              <% else %>
              <li><%= link_to "Viral", signup_path, :class => "btn-customlike" %></li>
              <li><%= link_to "Lame", signup_path, :class => "btn-customdislike" %></li> 
              <% end %> 
              <li><%= link_to pluralize(content.comments.count, "Comment"), content, :class => "btn-custom3" %></li>
                <% if signed_in? %>
              <li class="dropdown">
                <a class="btn-custom3" class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">Reply</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <%= form_for [content, current_user.comments.new] do |f| %>
                    <%= render 'shared/error_messages', :object => f.object %>
                      <div class="field">
                      <%= f.text_area :body %>
                      </div>
                      <div class="actions">
                      <%= f.submit "Submit" %>
                      </div>
                    <% end %>
                </ul>
              </li>
                <% else %>
                  <li><%= link_to "Reply", signin_path, :class => "btn-custom3" %></li>
                <% end %>
              <li><% user = content.user rescue User.find(content.user_id) %>
                <% if current_user?(user) %>
                <%= link_to "Delete", content, :class => "btn-customdislike", :method => :delete,
                                                 :confirm => "Are you sure you want to delete this post?" %>
                <% end %></li>
            </ul> <!-- /tabs -->
          </div> 


</td>
</tr>

</table>

<% end %>
<% end %>