  <table class="shadowborder">
    <tr>
      <td class="test">
      <% if is_mobile_view? %>
      <h3>
        <span style="color:crimson"><%= @user.username %></span> <span style="color:mediumblue">Likes</span>
      </h3>
      <% else %>
      <h3 style="margin-left: 15px;">
        <span style="color:crimson"><%= @user.username %></span> <span style="color:mediumblue">Likes</span>
      </h3>
      <% end %>
    <br>

    <% if is_mobile_view? %>
        <% if @likes.any? %>
        <div>
          <%= render 'likesfeed' %>
        </div>
        <%= will_paginate @likes, :page_links => false %>
      <% end %>
    <% else %>
        <% if @likes.any? %>
        <div id="pages" style="margin-left: 15px;">
          <%= render 'likesfeed' %>
        </div>
        <%= will_paginate @likes, :page_links => false %>
      <% end %>
    <% end %>
    </td>
    
<% if signed_in? %>
    <% if is_mobile_view? %>
    <% else %>
    <td class="sidebar2 round">
      <%= render 'shared/user_info' %>
    </td>
    <% end %>
<% else %>
    <% if is_mobile_view? %>
    <% else %>
    <td class="sidebar2 round">
      <%= render 'shared/user_info_signedout' %>
    </td>
    <% end %>
<% end %>

  </tr>
</table>