<h4>Past Stories</h4>
</br>


<% @everything.each do |content| %>

<% if content.instance_of?(Content) %>
<tr>
    <td class="gravatar">
    <%= link_to gravatar_for(content.user), content.user %>
  </td>
  <td class="micropost">
    <span class="content"><b><%= wrap(content.content.to_s) %></b></span>
    </br> 
    </br>
    <span class="timestamp">
      Posted <%= time_ago_in_words(content.created_at) %> ago by <%= link_to content.user.username, content.user %>
    </span>

    <ul class="nav nav-pills">
      <li><%= link_to pluralize(content.comments.count, "Comment"), content %></li>
      <% if signed_in? %>
    <li>
       <div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reply</a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <%= form_for [content, current_user.comments.new] do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
    <%= f.text_area :body %>
    </div>
    <div class="actions">
    <%= f.submit "Submit" %>
    </div>
    <% end %>
    </ul>
    </div>
  </li>
  <% else %>
  <%= link_to "Reply", signin_path %>
  <% end %>
     <li><% user = content.user rescue User.find(content.user_id) %>
      <% if current_user?(user) %>
      <%= link_to "Delete", content, :method => :delete,
                                       :confirm => "Are you sure you want to delete this post?" %>
      <% end %></li>
</ul>
 
</td>
</tr>

<% elsif content.instance_of?(Photo) %>

<tr>
    <td class="gravatar">
    <%= link_to gravatar_for(content.user), content.user %>
  </td>
  <td class="micropost">
    <% if content.captions.any? %>
    <% content.captions.each do |caption| %>
    <span class="content"><b><%= wrap(caption.body) %></b></span>
    <% end %>
    </br>
    </br>
    <% end %>
    <span class="content"><%= image_tag content.image_url.to_s if content.image? %></span>
    </br> 
    </br>
    <span class="timestamp">
      Posted <%= time_ago_in_words(content.created_at) %> ago by <%= link_to content.user.username, content.user %>
    </span>

    <ul class="nav nav-pills">
      <li><%= link_to pluralize(content.comments.count, "Comment"), content %></li>
      <% if signed_in? %>
    <li>
       <div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reply</a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <%= form_for [content, current_user.comments.new] do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
    <%= f.text_area :body %>
    </div>
    <div class="actions">
    <%= f.submit "Submit" %>
    </div>
    <% end %>
    </ul>
    </div>
  </li>
  <% else %>
  <%= link_to "Reply", signin_path %>
  <% end %>
     <li><% user = content.user rescue User.find(content.user_id) %>
      <% if current_user?(user) %>
      <%= link_to "Delete", content, :method => :delete,
                                       :confirm => "Are you sure you want to delete this post?" %>
      <% end %></li>
</ul>

</td>
</tr>

<% end %>
<% end %>


